.paraiso-light .hll { background-color: #a39e9b }
.paraiso-light  { background: #e7e9db; color: #2f1e2e }
.paraiso-light .c { color: #8d8687 } /* Comment */
.paraiso-light .err { color: #ef6155 } /* Error */
.paraiso-light .k { color: #815ba4 } /* Keyword */
.paraiso-light .l { color: #f99b15 } /* Literal */
.paraiso-light .n { color: #2f1e2e } /* Name */
.paraiso-light .o { color: #5bc4bf } /* Operator */
.paraiso-light .p { color: #2f1e2e } /* Punctuation */
.paraiso-light .ch { color: #8d8687 } /* Comment.Hashbang */
.paraiso-light .cm { color: #8d8687 } /* Comment.Multiline */
.paraiso-light .cp { color: #8d8687 } /* Comment.Preproc */
.paraiso-light .cpf { color: #8d8687 } /* Comment.PreprocFile */
.paraiso-light .c1 { color: #8d8687 } /* Comment.Single */
.paraiso-light .cs { color: #8d8687 } /* Comment.Special */
.paraiso-light .gd { color: #ef6155 } /* Generic.Deleted */
.paraiso-light .ge { font-style: italic } /* Generic.Emph */
.paraiso-light .gh { color: #2f1e2e; font-weight: bold } /* Generic.Heading */
.paraiso-light .gi { color: #48b685 } /* Generic.Inserted */
.paraiso-light .gp { color: #8d8687; font-weight: bold } /* Generic.Prompt */
.paraiso-light .gs { font-weight: bold } /* Generic.Strong */
.paraiso-light .gu { color: #5bc4bf; font-weight: bold } /* Generic.Subheading */
.paraiso-light .kc { color: #815ba4 } /* Keyword.Constant */
.paraiso-light .kd { color: #815ba4 } /* Keyword.Declaration */
.paraiso-light .kn { color: #5bc4bf } /* Keyword.Namespace */
.paraiso-light .kp { color: #815ba4 } /* Keyword.Pseudo */
.paraiso-light .kr { color: #815ba4 } /* Keyword.Reserved */
.paraiso-light .kt { color: #fec418 } /* Keyword.Type */
.paraiso-light .ld { color: #48b685 } /* Literal.Date */
.paraiso-light .m { color: #f99b15 } /* Literal.Number */
.paraiso-light .s { color: #48b685 } /* Literal.String */
.paraiso-light .na { color: #06b6ef } /* Name.Attribute */
.paraiso-light .nb { color: #2f1e2e } /* Name.Builtin */
.paraiso-light .nc { color: #fec418 } /* Name.Class */
.paraiso-light .no { color: #ef6155 } /* Name.Constant */
.paraiso-light .nd { color: #5bc4bf } /* Name.Decorator */
.paraiso-light .ni { color: #2f1e2e } /* Name.Entity */
.paraiso-light .ne { color: #ef6155 } /* Name.Exception */
.paraiso-light .nf { color: #06b6ef } /* Name.Function */
.paraiso-light .nl { color: #2f1e2e } /* Name.Label */
.paraiso-light .nn { color: #fec418 } /* Name.Namespace */
.paraiso-light .nx { color: #06b6ef } /* Name.Other */
.paraiso-light .py { color: #2f1e2e } /* Name.Property */
.paraiso-light .nt { color: #5bc4bf } /* Name.Tag */
.paraiso-light .nv { color: #ef6155 } /* Name.Variable */
.paraiso-light .ow { color: #5bc4bf } /* Operator.Word */
.paraiso-light .w { color: #2f1e2e } /* Text.Whitespace */
.paraiso-light .mb { color: #f99b15 } /* Literal.Number.Bin */
.paraiso-light .mf { color: #f99b15 } /* Literal.Number.Float */
.paraiso-light .mh { color: #f99b15 } /* Literal.Number.Hex */
.paraiso-light .mi { color: #f99b15 } /* Literal.Number.Integer */
.paraiso-light .mo { color: #f99b15 } /* Literal.Number.Oct */
.paraiso-light .sa { color: #48b685 } /* Literal.String.Affix */
.paraiso-light .sb { color: #48b685 } /* Literal.String.Backtick */
.paraiso-light .sc { color: #2f1e2e } /* Literal.String.Char */
.paraiso-light .dl { color: #48b685 } /* Literal.String.Delimiter */
.paraiso-light .sd { color: #8d8687 } /* Literal.String.Doc */
.paraiso-light .s2 { color: #48b685 } /* Literal.String.Double */
.paraiso-light .se { color: #f99b15 } /* Literal.String.Escape */
.paraiso-light .sh { color: #48b685 } /* Literal.String.Heredoc */
.paraiso-light .si { color: #f99b15 } /* Literal.String.Interpol */
.paraiso-light .sx { color: #48b685 } /* Literal.String.Other */
.paraiso-light .sr { color: #48b685 } /* Literal.String.Regex */
.paraiso-light .s1 { color: #48b685 } /* Literal.String.Single */
.paraiso-light .ss { color: #48b685 } /* Literal.String.Symbol */
.paraiso-light .bp { color: #2f1e2e } /* Name.Builtin.Pseudo */
.paraiso-light .fm { color: #06b6ef } /* Name.Function.Magic */
.paraiso-light .vc { color: #ef6155 } /* Name.Variable.Class */
.paraiso-light .vg { color: #ef6155 } /* Name.Variable.Global */
.paraiso-light .vi { color: #ef6155 } /* Name.Variable.Instance */
.paraiso-light .vm { color: #ef6155 } /* Name.Variable.Magic */
.paraiso-light .il { color: #f99b15 } /* Literal.Number.Integer.Long */
