{% extends "base.html" %}

{% block main %}

<div class="container pt-3">
  <div class="row" id="styles">
    {% for snip in snippets %}
      <div class="col-sm-12 col-md-6 mb-3">
  <div class="card shadow-sm border-0 rnd">
    <div class="card-body">
      <h6 class="text-monospace font-weight-bold mb-3"><a href="/pygments-styles/{{ snip.style }}.html">{{ snip.style|capitalize }}</a></h6>
        <div class="code">
{{ snip.gen_html()|safe }}
      </div>
    </div>
  </div>
</div>
    {% endfor %}
  </div>
</div>

{% endblock %}
